@layer reset, base, tokens, recipes, utilities;

figure {
  margin: 20px;
}

pre {
  padding: 12px 8px;
  margin: 0 8px;
  border-radius: 8px;
}

/* pretty-code (shiki) recommend */
.prose pre > code {
  display: grid;
}

/* Fenced Code block - hide horizontal scrollbar: webkit */
.prose pre::-webkit-scrollbar {
  display: none;
}
/* Fenced Code block - hide horizontal scrollbar: mozila */
.prose pre {
  scrollbar-width: none;
  overflow: scroll;
}

.prose h1,
h2,
h3 {
  padding-top: 20px;
  padding-bottom: 12px;
}

.prose h1,
h2 {
  font-weight: 800;
}

.prose h1 {
  font-size: 36px;
}

.prose h2 {
  font-size: 28px;
}

.prose h3 {
  font-weight: 700;
  font-size: 20px;
}

.prose p {
  width: 100%;
}

.prose p:not(blockquote p, li p) {
  padding-bottom: 16px;
  color: #202125;
  line-height: 1.8;
}

.prose blockquote ol,
ul {
  padding-bottom: 0;
}

.prose u {
  text-underline-offset: 4px;
}

.prose strong {
  font-weight: 800;
}

.prose br {
  height: 12px;
}

.prose ul {
  margin: 0;
  display: block;
  list-style-type: disc;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;

  li p {
    padding: 0;
  }

  li::marker {
    font-size: 0.85em;
  }
}

.prose li {
  margin-bottom: 8px;
}

.prose li::marker {
  color: #585858;
}

.prose ol {
  list-style-type: decimal;

  padding: 0 12px 16px 12px;
  padding-inline-start: 1.5em;

  li::marker {
    font-weight: 800;
  }
}

.prose code span[data-highlighted-line] {
  border-left: 2px #fdfdfd solid;
  background-color: #c8c8ff1a;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  margin-left: 6px;
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}
